# Generations for bots 
images
videos
audios
src/ky-bots/twitch/accounts.json

# Modules
node_modules

# Others
build
logs
texto_hablado.mp3
acelerado.mp3
ky-bots.json
nasa-speak.mp3
cache

# Package
package-lock.json

# Env
.env
