# This configuration take 3 values
# 1 - The discord token from your bot app ( discord developers )
# 2 - The cliend ID, this are taken from your bot configuration ( discord developers )
# 3 - The channel where you gonna take the commands
MY_BOT_TOKEN=
MY_CLIENT_ID=
MY_CHANNEL_TEXT=